---
layout: default
---

<article class="post-article" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%Y年%m月%d日" }}
      </time>
      {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>
      {% endif %}
    </div>
    {% if page.tags.size > 0 %}
    <div class="post-tags">
      {% for tag in page.tags %}
      <span class="post-tag">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </header>

  {% if page.toc %}
  <nav class="post-toc">
    <h4>目录</h4>
    {% include toc.html html=content sanitize=true %}
  </nav>
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-footer">
    <div class="post-license">
      {{ page.license | default: site.license }}
    </div>
  </footer>
</article>
